.container {
  height: calc(100vh - 80px);
  margin: 40px 20px;
  display: flex;
  justify-content: center;

  .preloaderBlock {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chartBlock {
    width: 80%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}